flow/flows.json
[
    {
        "id": "945820fc.c8cba",
        "type": "tab",
        "label": "ChickenHome",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a74ae31e.a4269",
        "type": "mqtt-broker",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "284c6a43.d3dc96",
        "type": "ui_group",
        "name": "Door",
        "tab": "406af151.81a3b",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44754402.e37c1c",
        "type": "ui_group",
        "name": "Environment",
        "tab": "406af151.81a3b",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "b0952cc4.a8088",
        "type": "ui_group",
        "name": "Chicken Home Image",
        "tab": "406af151.81a3b",
        "order": 4,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "406af151.81a3b",
        "type": "ui_tab",
        "name": "ChickenHome Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43547850a0f5c281",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5fba290bb5afdf68",
        "type": "ui_spacer",
        "z": "945820fc.c8cba",
        "name": "spacer",
        "group": "284c6a43.d3dc96",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "d71c159adbdec0d9",
        "type": "ui_spacer",
        "z": "945820fc.c8cba",
        "name": "spacer",
        "group": "284c6a43.d3dc96",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d973baea5b094391",
        "type": "ui_group",
        "name": "Light",
        "tab": "406af151.81a3b",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1754fa87.e67e75",
        "type": "mqtt in",
        "z": "945820fc.c8cba",
        "name": "temperature",
        "topic": "chickenhome/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "a74ae31e.a4269",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "ea970ef6.b40c7",
                "ef6a4e3c.2730c",
                "65ad7a57f1387ecc",
                "05280e478c9f3f6f",
                "696dcebc855e69eb"
            ]
        ]
    },
    {
        "id": "42b6dbc3.128184",
        "type": "mqtt in",
        "z": "945820fc.c8cba",
        "name": "humidity",
        "topic": "chickenhome/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "a74ae31e.a4269",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "2c823a65.e4c306"
            ]
        ]
    },
    {
        "id": "1dcc4ea1.8ecfc1",
        "type": "mqtt in",
        "z": "945820fc.c8cba",
        "name": "",
        "topic": "chickenhome/img",
        "qos": "2",
        "datatype": "auto",
        "broker": "a74ae31e.a4269",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "eeaf5acf.062fa8"
            ]
        ]
    },
    {
        "id": "eeaf5acf.062fa8",
        "type": "template",
        "z": "945820fc.c8cba",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img height=\"auto\" max-width=\"100%\" width=\"640px\" height=\"360px\" src=\"{{{payload}}}\">",
        "output": "str",
        "x": 380,
        "y": 1280,
        "wires": [
            [
                "e1135e24.ff542"
            ]
        ]
    },
    {
        "id": "c2fc3843.0ec578",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "Img Section",
        "info": "",
        "x": 130,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ba695caf.5426d",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "Fan / Temp Section",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "aadd39a4.e5e518",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "Door Section",
        "info": "",
        "x": 110,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e0b9ad4.2f1568",
        "type": "mqtt out",
        "z": "945820fc.c8cba",
        "name": "sendImg",
        "topic": "chickenhome/sendImg",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a74ae31e.a4269",
        "x": 620,
        "y": 1360,
        "wires": []
    },
    {
        "id": "145ad5ea.d8cb5a",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "",
        "func": "var payload=msg.payload;\n\npayload = payload.replace(/\\s/g, '');\n\nif (payload == \"connect\" || payload == \"change\"){\n    msg.payload = true\n    return msg;\n}\n\nif (payload == \"lost\"){\n    msg.payload = false\n    return msg;\n}    \n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1360,
        "wires": [
            [
                "9e0b9ad4.2f1568"
            ]
        ]
    },
    {
        "id": "89bab29c.27a16",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "on = open / off = close",
        "info": "",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "8f518c02.5701c",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "door close",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "782ce215.d37b7c"
            ]
        ]
    },
    {
        "id": "ff9c986a.f2fca8",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "set text inject",
        "func": "var payload=msg.payload;\n\n\nif (payload == true){\n    msg.payload = \"open\"\n    \n}\n\nif (payload == false){\n    msg.payload = \"closed\"\n    \n}    \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 640,
        "wires": [
            [
                "fb45b88f.3cea38"
            ]
        ]
    },
    {
        "id": "9b2f56d5.cb95d8",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "door open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "782ce215.d37b7c"
            ]
        ]
    },
    {
        "id": "a90a87a3.3e62f8",
        "type": "debug",
        "z": "945820fc.c8cba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "e81bdfb4.81ade",
        "type": "switch",
        "z": "945820fc.c8cba",
        "name": "automatic switch based routing",
        "property": "automatic",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "782ce215.d37b7c"
            ]
        ]
    },
    {
        "id": "5f5335f9.ec662c",
        "type": "change",
        "z": "945820fc.c8cba",
        "name": "Set flow.automatic",
        "rules": [
            {
                "t": "set",
                "p": "automatic",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba3318d.341bb",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 0 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "9a913208.0b774"
            ]
        ]
    },
    {
        "id": "ef6a4e3c.2730c",
        "type": "timeout",
        "z": "945820fc.c8cba",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Get Message -> we are safe",
        "outwarning": "No Message Warning",
        "outunsafe": "No Message Critical",
        "warning": "30",
        "timer": "120",
        "repeat": false,
        "again": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "a90a87a3.3e62f8"
            ]
        ]
    },
    {
        "id": "782ce215.d37b7c",
        "type": "ui_switch",
        "z": "945820fc.c8cba",
        "name": "door manually",
        "label": "Open/Close door manually",
        "tooltip": "",
        "group": "284c6a43.d3dc96",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 840,
        "y": 600,
        "wires": [
            [
                "ff9c986a.f2fca8",
                "1ef6cc55daf44ffb"
            ]
        ]
    },
    {
        "id": "9a913208.0b774",
        "type": "ui_switch",
        "z": "945820fc.c8cba",
        "name": "Automatic On/Off",
        "label": "Automatic On/Off",
        "tooltip": "",
        "group": "284c6a43.d3dc96",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "5f5335f9.ec662c"
            ]
        ]
    },
    {
        "id": "ea970ef6.b40c7",
        "type": "ui_text",
        "z": "945820fc.c8cba",
        "group": "44754402.e37c1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "temperature",
        "label": "actual temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb45b88f.3cea38",
        "type": "ui_text",
        "z": "945820fc.c8cba",
        "group": "284c6a43.d3dc96",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Door",
        "label": "Door status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1430,
        "y": 640,
        "wires": []
    },
    {
        "id": "e1135e24.ff542",
        "type": "ui_template",
        "z": "945820fc.c8cba",
        "group": "b0952cc4.a8088",
        "name": "",
        "order": 1,
        "width": 13,
        "height": 10,
        "format": "<div style=\"text-align: center; max-width: 100%; height: auto;\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "2c823a65.e4c306",
        "type": "ui_chart",
        "z": "945820fc.c8cba",
        "name": "humidity-chart",
        "group": "44754402.e37c1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "humidity-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a495086b.7c5df8",
        "type": "ui_ui_control",
        "z": "945820fc.c8cba",
        "name": "",
        "events": "all",
        "x": 120,
        "y": 1360,
        "wires": [
            [
                "145ad5ea.d8cb5a"
            ]
        ]
    },
    {
        "id": "da983653df518458",
        "type": "rpi-gpio out",
        "z": "945820fc.c8cba",
        "name": "relay 8 door",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1430,
        "y": 520,
        "wires": []
    },
    {
        "id": "bfcc21472e760a6a",
        "type": "rpi-gpio out",
        "z": "945820fc.c8cba",
        "name": "relay 7 door",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1430,
        "y": 580,
        "wires": []
    },
    {
        "id": "c1cee7320295ef00",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "switch polarity ",
        "func": "var payload=msg.payload;\n\nif (payload == true){\n    var msg1 = { payload : true};\n    var msg2 = { payload: false};\n\n    return[msg1,msg2]    \n}\n\nif (payload == false){\n    var msg1 = { payload: false };\n    var msg2 = { payload: true };\n\n    return[msg1,msg2]\n}    \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 600,
        "wires": [
            [
                "da983653df518458"
            ],
            [
                "bfcc21472e760a6a"
            ]
        ]
    },
    {
        "id": "e61c534511c171fb",
        "type": "trigger",
        "z": "945820fc.c8cba",
        "name": "",
        "op1": "false",
        "op2": "true",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1190,
        "y": 460,
        "wires": [
            [
                "09d8d916d402648e"
            ]
        ]
    },
    {
        "id": "09d8d916d402648e",
        "type": "rpi-gpio out",
        "z": "945820fc.c8cba",
        "name": "relay 1 power supply motor",
        "pin": "5",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1480,
        "y": 460,
        "wires": []
    },
    {
        "id": "95cec0788e1eeffb",
        "type": "aedes broker",
        "z": "945820fc.c8cba",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "65ad7a57f1387ecc",
        "type": "debug",
        "z": "945820fc.c8cba",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "05280e478c9f3f6f",
        "type": "ui_chart",
        "z": "945820fc.c8cba",
        "name": "temperature-chart",
        "group": "44754402.e37c1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperature-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8835ccc6b1dac121",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "a6647e529dce3a27",
                "6eb6a045d9cb3fae"
            ]
        ]
    },
    {
        "id": "a6647e529dce3a27",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "door timer",
        "func": "function isBetween(timestamp) {\n  const date = new Date(timestamp);\n  const hours = date.getHours();\n\n  var openDoor = global.get(\"openDoor\");\n  var closeDoor = global.get(\"closeDoor\");\n\n  return hours >= openDoor && hours < closeDoor;\n}\n\nvar currentTimestamp = msg.payload\nvar result = isBetween(currentTimestamp);\n\nif (result) {\n  msg.payload = true\n} else {\n  msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "e81bdfb4.81ade"
            ]
        ]
    },
    {
        "id": "adce54fd2943c746",
        "type": "ui_numeric",
        "z": "945820fc.c8cba",
        "name": "",
        "label": "Time to open",
        "tooltip": "",
        "group": "284c6a43.d3dc96",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "12",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 1020,
        "wires": [
            [
                "c39bbd25f6685205"
            ]
        ]
    },
    {
        "id": "fd9f83d13cca1630",
        "type": "ui_numeric",
        "z": "945820fc.c8cba",
        "name": "",
        "label": "Time to close ",
        "tooltip": "",
        "group": "284c6a43.d3dc96",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "12",
        "max": "24",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "6371a1996933a76e"
            ]
        ]
    },
    {
        "id": "6371a1996933a76e",
        "type": "change",
        "z": "945820fc.c8cba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "closeDoor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c39bbd25f6685205",
        "type": "change",
        "z": "945820fc.c8cba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "openDoor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "02569aceb3b797d5",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "adce54fd2943c746"
            ]
        ]
    },
    {
        "id": "74ac1f5ce3c0af1e",
        "type": "inject",
        "z": "945820fc.c8cba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "fd9f83d13cca1630"
            ]
        ]
    },
    {
        "id": "8485b054b7aa8d10",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "switch power supply on/off",
        "info": "",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "c18249284c052f61",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "Door Settings",
        "info": "",
        "x": 130,
        "y": 960,
        "wires": []
    },
    {
        "id": "1ef6cc55daf44ffb",
        "type": "rbe",
        "z": "945820fc.c8cba",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "c1cee7320295ef00",
                "e61c534511c171fb"
            ]
        ]
    },
    {
        "id": "23ba2e74d547d827",
        "type": "rpi-gpio out",
        "z": "945820fc.c8cba",
        "name": "Relay Red Light",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef302983109b66f0",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 1 = BCM 5",
        "info": "",
        "x": 1160,
        "y": 940,
        "wires": []
    },
    {
        "id": "b6c87f6cb71aebb1",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 2 = BCM 6",
        "info": "",
        "x": 1160,
        "y": 980,
        "wires": []
    },
    {
        "id": "61bcee8b7f6cf6bf",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 3 = BCM 13",
        "info": "",
        "x": 1160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1d66967649e25782",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 4 = BCM 16",
        "info": "",
        "x": 1160,
        "y": 1060,
        "wires": []
    },
    {
        "id": "84b871346f75d6c2",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 5 = BCM 19",
        "info": "",
        "x": 1160,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a387d508b91712bd",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 6 = BCM 20",
        "info": "",
        "x": 1160,
        "y": 1140,
        "wires": []
    },
    {
        "id": "77febb2c31119956",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 7 = BCM 21",
        "info": "",
        "x": 1160,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f51a0cad9f709604",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "relay 8 = BCM 26",
        "info": "",
        "x": 1160,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1b9acd95977bfac2",
        "type": "rpi-gpio out",
        "z": "945820fc.c8cba",
        "name": "Relay Normal Light",
        "pin": "6",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1450,
        "y": 760,
        "wires": []
    },
    {
        "id": "6eb6a045d9cb3fae",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "light timer",
        "func": "function isBetween(timestamp) {\n  const date = new Date(timestamp);\n  const hours = date.getHours();\n\n  var lightOn = global.get(\"openDoor\")-1;\n  var lightOff = global.get(\"openDoor\");\n\n  return hours >= lightOn && hours < lightOff;\n}\n\nvar currentTimestamp = msg.payload\nvar result = isBetween(currentTimestamp);\n\nif (result) {\n  msg.payload = true\n} else {\n  msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 760,
        "wires": [
            [
                "e6d775a2116c4ffc"
            ]
        ]
    },
    {
        "id": "dda44b539c3d9d74",
        "type": "ui_switch",
        "z": "945820fc.c8cba",
        "name": "Light manually",
        "label": "On/Off normal Light",
        "tooltip": "",
        "group": "d973baea5b094391",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 840,
        "y": 760,
        "wires": [
            [
                "1f2eb4a1936a8c16"
            ]
        ]
    },
    {
        "id": "e6d775a2116c4ffc",
        "type": "switch",
        "z": "945820fc.c8cba",
        "name": "automatic switch based routing",
        "property": "automatic",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "dda44b539c3d9d74"
            ]
        ]
    },
    {
        "id": "1f2eb4a1936a8c16",
        "type": "rbe",
        "z": "945820fc.c8cba",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "9ff5cd9ca3b15574"
            ]
        ]
    },
    {
        "id": "9ff5cd9ca3b15574",
        "type": "change",
        "z": "945820fc.c8cba",
        "name": "invert bool",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 760,
        "wires": [
            [
                "1b9acd95977bfac2",
                "35cf874285851cdd"
            ]
        ]
    },
    {
        "id": "35cf874285851cdd",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "set text inject",
        "func": "var payload=msg.payload;\n\n\nif (payload == true){\n    msg.payload = \"Off\"\n    \n}\n\nif (payload == false){\n    msg.payload = \"On\"\n    \n}    \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 820,
        "wires": [
            [
                "a57d853e0c916581"
            ]
        ]
    },
    {
        "id": "a57d853e0c916581",
        "type": "ui_text",
        "z": "945820fc.c8cba",
        "group": "d973baea5b094391",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Light",
        "label": "Normal Light status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1430,
        "y": 820,
        "wires": []
    },
    {
        "id": "696dcebc855e69eb",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "heater function ",
        "func": "var temp = parseInt(msg.payload);\n\nif (temp <= -1){\nmsg.payload = true\n}\nif (temp >= 2) {\n    msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "707b8b53d3c533e6"
            ]
        ]
    },
    {
        "id": "7a9b719a026f363b",
        "type": "ui_text",
        "z": "945820fc.c8cba",
        "group": "d973baea5b094391",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Status Red Light",
        "label": "Red Light status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "9207a7193b0a1c6f",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "set text inject",
        "func": "var payload=msg.payload;\n\nif (payload == true){\n    msg.payload = \"Off\"\n    \n}\n\nif (payload == false){\n    msg.payload = \"On\"\n    \n}    \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 420,
        "wires": [
            [
                "7a9b719a026f363b"
            ]
        ]
    },
    {
        "id": "707b8b53d3c533e6",
        "type": "ui_switch",
        "z": "945820fc.c8cba",
        "name": "Red Light manually",
        "label": "On/Off Red Light",
        "tooltip": "",
        "group": "d973baea5b094391",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "2e2c37554dd7709c"
            ]
        ]
    },
    {
        "id": "2e2c37554dd7709c",
        "type": "rbe",
        "z": "945820fc.c8cba",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "383570884d076047"
            ]
        ]
    },
    {
        "id": "383570884d076047",
        "type": "function",
        "z": "945820fc.c8cba",
        "name": "invert bool",
        "func": "if (msg.payload == true){\n    msg.payload = false;\n    return msg;\n}\n\nif (msg.payload == false) {\n    msg.payload = true;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "23ba2e74d547d827",
                "9207a7193b0a1c6f"
            ]
        ]
    },
    {
        "id": "4ad6c3879850fcb9",
        "type": "comment",
        "z": "945820fc.c8cba",
        "name": "Relay Board (B) pinout",
        "info": "",
        "x": 1180,
        "y": 900,
        "wires": []
    }
]